%section.ten-oh-announcement
  .container
    .row
      .col-sm-11.col-lg-6.ten-oh-label
        %span 10.6
      .col-sm-11.col-lg-6.ten-oh-description
        .ten-oh-description-body
          %h2.main-heading New features every month
          %p In this month’s release of GitLab 10.6, we've added CI/CD for GitHub, improved Kubernetes integration, and much more.
          .btn-group
            %a.btn.cta-btn.ghost{href: "/2018/03/22/gitlab-10-6-released/"}
              See what’s new
