---
layout: default
title: Global Developer Survey | GitLab
description: "Learn what high-functioning organizations are doing differently and get the insights behind the needs of today's developer."
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .simple-hero
    .container
      .row
        .col-md-8.col-md-offset-2.hero-image
          = partial "includes/icons/dev-survey-hero-icons.svg"

      .row
        .col-md-8.col-md-offset-2
          %h1 GitLab Annual Global Developer Survey

      .row
        .col-md-6.col-md-offset-3
          %h3 What do you need to do your best work?
          %p Learn what high-functioning organizations are doing differently and get the insights behind the needs of today's developer.


  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-md-8.col-md-offset-2

          .content-section
            %h3.section-heading Global Developer Report

            %p As a software professional, you are an innovator, problem solver, researcher, and a creative. Your job is to take big ideas and make them a reality. With the right support, the possibilities are endless. When roadblocks are removed and you’re allowed do your best work, you change the world.

            %p To help you get there faster, every year we examine the needs and preferences of the developer, compare workplace perceptions with management, and aim to expose what high-functioning organizations are doing differently. From overall satisfaction at work, to preferred workflows, collaboration methods, and tools, GitLab’s Annual Developer Survey aims to empower you, your team, and your manager with the information you need to work better, together.

          .content-section
            %h3.section-heading 2018
            %p In our most recent report, we heard from more than 5,000 software developers, architects, IT managers and executives from around the world to uncover the impact of workplace culture, workflow, and tooling on the needs, preferences, and satisfaction of today’s developer.

            %p.btn-group
              %a.btn.cta-btn.purple.large{ href: "/developer-survey/2018" } 2018 Global Developer Report

            %p
              %a{ href: "https://www.surveymonkey.com/results/SM-G3S6S63P8/" } 2018 Global Developer Survey - all data

          .content-section
            %h3.section-heading Past years
            %p
              %a{ href: "https://page.gitlab.com/rs/194-VVC-221/images/gitlab-enterprise-survey-2016-report.pdf" } 2016 Global Developer Report
