---
title: The only single product for the complete DevOps lifecycle - GitLab
description: “GitLab is the leading integrated product for modern software development. Connecting issue management, version control, code review, CI, CD, and monitoring into a single, easy-to-install application, we help teams go faster from planning to monitoring.”
suppress_header: true
extra_css:
  - home.css
extra_js:
  - libs/slick.min.js
  - home.js
  - all-clickable.js
---
- if data.promo.link && data.promo.text
  .gitlab-promo-banner.animated
    %a{href: data.promo.link}= data.promo.text

= partial "includes/home/splash"
= partial "includes/home/open-core"
= partial "includes/home/forrester-report"
= partial "includes/home/enterprise-edition"

.logo-divider
  .container
    .logo-divider-body
      = partial "includes/logos/footer_logo.svg"

= partial "includes/home/value-pillars"
= partial "includes/home/ten-oh-announcement"
= partial "includes/home/customers"
= partial "includes/home/feature-group"
